label {
    margin-top: 20px;
    margin-right: 15px;
    font-size: larger;
}

.bar {
    width: 100%;
    border-radius: 25px;
    border-style: inset;
    border-width: 1px;
    font-size: medium;
    
}

#categories {
    height: 40px;
    width: auto;
}

form  {
    padding: 20px;
    margin: 20px;
    width: 70%;
    border-radius: 25px;
    border-width: 1px;
    border-style: inset;
    background-image: url("images.png");
    background-attachment: fixed;
    background-size: contain;
}

.submit {
    width: 70%;
    text-align: right;
}

.submit-btn {
    background-color: #2C8CD5;
}
