body {
    padding: 10px;  
    /*   
    background-image: url("images.png");
    background-size: contain;
    background-attachment: fixed;  
    */
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rockwell';
}

.body-heads {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

h2 {
    color:white;
}

.logo img {
    float: left;
    width: 10%;
    height: 10%;
}

.logo h1 {
    position: relative;
    top: 18px;
    left: 10px;
    
}

label {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#each-listing {
    border-style: groove; 
    height: 400px;
}

#listing-list {
    background-color: white;
    background-image: url("images.png");
    background-size: contain;        
    background-attachment: fixed;
}

.image {
    width: 400px; 
    height: 100%; 
    float:left; 
    margin-right: 30px; 
    padding: 20px;
}

.content-descr {
    height: 100%; 
    width:auto; 
    padding: 20px;
}

#title-link {
    text-decoration:none; 
    color: black; 
    font-weight: bold;
    
}

.big-font {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: large;
}

.btn-primary {
    background-color: #5F5F5F;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #777777;
}


.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: large;
}

