{% extends "auctions/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <div class="image" style="width: 400px; height: 400px; margin: auto; padding: 20px;">
        <img class="listing_image" src="{{listing.picture}}" alt="Image of {{listing.title}}" width="100%" height="100%" style="text-align:center">
    </div>
    <br>
    <h3 class="title" style="font-weight:bold; text-align:center">{{listing.title}}</h3>
    <h5><label style="font-weight: bold">Current Price: </label> {{listing.starting_bid}}</h5>
    
{% endblock %}